# Bot settings
BOT_TOKEN=123456:Your-TokEn_ExaMple
ADMINS=123456,654321
USE_REDIS=False
SUBSCRIPTION_CHANNELS_IDS=-12345678901234,-12345678901235

# Docker settings
BOT_CONTAINER_NAME=bot_container_name
BOT_IMAGE_NAME=botimage_name
BOT_NAME=mybotname

# DB settings
DB_USER=exampleDBUserName
DB_PASS=exampleDBPassword
DB_NAME=exampleDBName
DB_HOST=db
DB_PORT=5432
DB_CONTAINER_NAME=db_container_name
DB_EXPOSE_PORT=5433

# Redis settings
REDIS_CONTAINER_NAME=redis_container_name
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASS=exampleRedisPassword
REDIS_POOL_SIZE=100

# Log settings
LOG_FILE_NAME=log_file_name.log
 # HH:MM
LOG_ROTATION=00:00
 # in days
LOG_RETENTION=3

# Misc settings